*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.nav-wrapper{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-wrapper > .logo-wrapper {
    margin-left: 15px;

}

.nav-wrapper > .logo-wrapper img {
    width: 150px;
}

.nav-wrapper > .middle-nav {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -20em;
}

.nav-wrapper > .middle-nav > .explore{
    color: #EADA7D;
}

.nav-wrapper > .middle-nav > .links-wrapper{
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.nav-wrapper > .middle-nav > .links-wrapper > .links{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.nav-wrapper > .middle-nav > .links-wrapper > .links a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.nav-wrapper > .middle-nav > .links-wrapper > .spark{
    color: lightgray;
}
.nav-wrapper > .middle-nav > .links-wrapper > .spark > .arrow{
    color: green;
}

.nav-wrapper > .right-nav{
    margin-right: 15px;
    color: lightgray;
}

.nav-wrapper > .right-nav > button{
    padding: 15px 20px;
    background-color: #35383f;
    border: 1px solid #35383f;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

.nav-wrapper > .right-nav i{
    font-size: 25px;
    padding: o 10px;
}

.nav-wrapper > .right-nav > button i{
    color: #4bcd79;
}

.hero-section{
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: #353340;
    display: flex;
}

.hero-section > .column-1{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    color: white;
    font-size: 3em;
}

.hero-section > .button{
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}
.hero-section > .button >.button-1{
    background-color: #4bcd79;
}

.hero-section > .img p{
    margin-top: 225px;
}
.hero-section > .img > .p > .span{
    color: blue;
}

.hero-section > .img img{
    /* padding: 125px 0px 0px 30px; */
    height: 900px;
    width: 1000px;
}


.footer{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #36383f;
    height: 75px;
    width: 900;
    /* border: 5px solid #636363; */
    padding: 0px;
    margin: 0px;
}

.footer > .box-1{
    border: 3px solid #636363;
    padding: 25px 125px;
}

.footer > .box-2{
    border: 3px solid #636363;
    padding: 25px 125px;
}

.footer > .box-3{
    border: 3px solid #636363;
    padding: 25px 125px;
}
.footer > .box-4{
    border: 3px solid #636363;
    padding: 25px 125px;
}